<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Formulir</title>
</head>
<body>
    <h1> Formulir </h1>
<!-- agar automatis masuk ke fungsi /form -->
    <form method='POST' action='http://127.0.0.1:5000/form'>
        <p>Nama: <input type='text' name='nama'></p>
        <p>Usia: <input type='number' name='usia'></p>
        <p><input type='submit' value='kirim'> </p>
    </form>
</body>
</html>